* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: rgb(0, 0, 0);
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.4)), url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
#header {
  width: 100%;
  height: 100vh;
  background-image: url(imgfiles/background.png);
  background-size: cover;
  background-position: center;
}
.container {
  padding: 10px 10%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap; 
}
.logo {
  width: 140px;
}
nav ul li {
  display: inline-block;
  list-style: none;
  margin: 10px 20px; 
}
nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
nav ul li a:visited {
  color: #fff;
}
.header-text {
  margin-top: 20%;
  font-size: 30px;
}
.header-text  p {
  font-size: 30px; 
  text-align: center;
}
.header-text h1 {
  font-size: 60px;
  margin-top: 20px;

  color: aliceblue;
}
.header-text h1 span {
  color:#ff004f;
}
#content h1 {
  font-size: 70px;
  font-weight: 900;
  color: white;
  text-align: center;
}
.container h1 {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  margin-top: -30px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  grid-auto-rows: 1fr;
  margin: 0 100px 100px 100px;
  padding-top: 30px;
}

.grid-work {
  text-align: center;
  padding: 20px;
  background-color: transparent;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.30);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 8px;
  transition: .5s;
}

.grid-work:hover {
  background-color: bisque;
  animation: .5s;
}

.div-image {
  overflow: hidden;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.30);
}

.div-image img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 8px;
  object-fit: cover;
  transition: transform 0.3s ease;

  filter: grayscale(100);
}
.div-image img:hover {
  transform: scale(1.1);
  opacity: .7;

  filter: grayscale(0);
}

p {
  padding: 10px;
  margin-top: 10px;
}

.loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  transition: opacity 0.75s, visibility 0.75s;
}

.loader--hidden {
  opacity: 0;
  visibility: hidden;
}

.loader::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: #009578;
  border-radius: 50%;
  animation: loading 0.75s ease infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}
