* {
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: 'Roboto' sans-serif;
    background: #ececec;
}

.register-form {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    width: 450px;
    padding: 40px 30px;
    border-radius: 10px;
    background: #ececec;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;
}

.register-form h1 {
    font-size: 36px;
    color: #999;
    margin-top: 5px;
}

.register-form input {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 25px;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 18px;
    background: #ececec;
    box-shadow: inset 10px 10px 15px #c7c4c4, inset -10px -10px 15px #fff;
}

.register-form button {
    width: 100%;
    margin-bottom: 30px;
    padding: 20px 0;
    border: none;
    border-radius: 50px;
    font-size: 20px;
    color: #999;
    background: #ececec;
    box-shadow: 10px 10px 15px #c7c4c4, -10px -10px 15px #fff;
    transition: 0.3s;
}

.register-form button:hover {
    color: #484747;
    cursor: pointer;
    box-shadow: inset 10px 10px 15px #c7c4c4, inset -10px -10px 15px #fff;
}

textarea {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background: #ececec;
    box-shadow: inset 10px 10px 15px #c7c4c4, inset -10px -10px 15px #fff;
}
